@model IEnumerable<Tarea.Models.Prenda>

@{
    ViewData["Title"] = "MostrarPrendas";
}

<h2>MostrarPrendas</h2>

<p>
    <a asp-action="AgregarPrenda">Agregar prenda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_Prenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaPropietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPrenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoTela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescLavado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_Prenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaPropietario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPrenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoTela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescLavado)
            </td>
        </tr>
}
    </tbody>
</table>
